@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{



}
@model IEnumerable<Questionweb.Models.QuestionPaper>

<header>
    <div class="logo">QPaper Hub</div>
    <nav>
        <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
        <a asp-controller="Home" asp-action="Uploads"><i class="fa fa-upload"></i> Upload</a>
        <a href="#">About</a>
        <a href="#"><i class="fa fa-address-book"></i> Contact</a>
        <a asp-controller="Admin" asp-action="Index" class="admin-button"><i class="fa fa-desktop"></i> Admin Panel</a>
    </nav>
</header> *@