@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-image: linear-gradient(to bottom right, #f2c6de, #ffc5c5, #fff7cd); min-height: 100vh; display: flex; align-items: center; justify-content: center; padding: 1rem;">
    <div class="bg-white rounded-3 shadow-lg  text-center" style=" width: 100%;">
        <!-- Round Image -->
        <div class="d-flex justify-content-center mb-4">
            <img src="family.jpg" alt="Author" class="rounded-circle border border-4 border-pink-300 shadow-md" style="  object-fit: cover;">
        </div>
        <!-- Blog Content -->
        <div>
            <h1 class="fw-bold  text-dark mb-3">Srujan Akula</h1>
            <p class="text-muted lh-lg">I am Srujan, a second-year B.E. Mining Engineering student with a strong passion for the IT field and solving real-world problems through technology. I enjoy building practical solutions and continuously learning new skills in software development. I designed, developed, and currently maintain the Question Paper Hub—a web platform that allows students to upload and access previous year question papers, with admin moderation and intelligent filtering based on categories like year, group, and subject. I'm always open to collaboration and eager to connect with like-minded individuals who are passionate about building impactful tech solutions. Whether you're a developer, designer, or someone with innovative ideas, let’s work together to take this project—and many others—to the next level. Looking for collaboration to achieve even greater things. Let's build the future together</p>
        </div>
        <div class="contact">
        <h2>📬 Contact </h2>
        <p>Have questions, feedback, or suggestions?</p>
       
            
            <p> 📱 7386569908</p>
            <p>
                <img src="~/imgs/Whats Icons Text Sym.png" style="width:18px;height:18px;margin-right:5px" /></><a href="https://wa.me/7386569908" class="whatsapp-button" target="_blank">
                   Contact me on WhatsApp
                </a>
            </p>
            <p>📧 Email: Srujanakula44@gmail.com</p>

        
        </div>
    </div>
</div>