/*#Tbl div.dt-container div.dt-layout-row div.dt-layout-cell {
    border: 3px solid white;
}
#Tbl thead {
    border: 3px solid white;
}
#Tbl table.dataTable thead > tr > th div.dt-column-header span.dt-column-title {
    color: white;
}
#Tbl div.dt-container div.dt-layout-row {
    width: 98%;
    margin: .75em 0;
    padding: 20px;
}
#Tbl {
    width:90px;
}*/